body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.font-h1{
    font-size: 50px;
}
h2{
    color: black;
    font-size: 600;
}
h3{
    color: orange;
}
.orange{    
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.intro-half{
    width: 50%;
    margin-left: 4%;
    padding: 2%;
}
.intro-half img{
width: 80%; 

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white; font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.down-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-tab{
    width: 40%;
    box-shadow: 10px 10px 40px rgb(255, 68, 0);
    margin-left: 5%;
    margin-right: 5%;
    padding: 15px;

}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#web-dev{
    border-left: 5px solid;
    border-image: linear-gradient(blue ,cyan); 
    border-image-slice: 1;
    border-radius: 10px;
}
#baby-web{
    border-left: 5px solid;
    border-image: linear-gradient(gray , black); 
    border-image-slice: 1;
    border-radius: 10px;

}
footer{
    text-align: center;
}